#nav-bar{
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar{
  background-color: #000000;
  padding: 0 !important;
}

.navbar-brand img{
  height: 45px;
  padding-left: 50px;
  padding-bottom: 2px;
}

.navbar-brand h2{
  height: 45px;
  color: #e0e0eb !important;
  font-family:'Lalezar', cursive;

  }

.navbar-nav li{
  padding: 0 10px;
}

.navbar-nav{
  padding-right: 20px;
}

#navbarNav .current a{
  font-weight:bold;
}

.navbar-nav li a{
  color: #e0e0eb !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.navbar-nav li a:hover{
  color: #ffecb3 !important;
}
.fa-bars{
  color: white;
  font-size: 25px !important;
}

.navbar-toggler{
  outline: none !important;
}

#banner{
  background-image: linear-gradient(to right, #ffffff,#e6e6ff);
  color: black;
  padding: 5%;
  width: 100%;
  min-height: 80%;
}

.promo-title{
  font-size: 40px;
  font-weight: 600;
  margin-top:100px;
  font-family: Tahoma; 
}

.heading {
  font-family: 'Mountains of Christmas', cursive;
  font-size: 20px;
  color:  black;
}

#points{
  background-color: #ffecb3 !important;
  color: #ffecb3 !important;
  padding: 5%;
  width: 100%;
  min-height: 50%;
}

.img-fluid{
  border-radius: 50%;
}

.textcenter{
  text-align: center;
}

.address{
  color: black;
  text-align: center;
}

.subhead p{
  font-family:'Lobster', cursive;
  font-size: 25px;
  color: ;
}

.cot p{
  font-size: 15px;
  font-family: cursive;
}

.cot i{
  font-size: 26px;
}

#main{
  width: 100%;
}

.main-col{
  float:left;
  width:70%;
}

.page-title{
  font-family: 'Lobster', cursive;
  padding-top: 12px;
  padding-bottom: 12px;
}

.services li{
  list-style:none;
  padding:20px;
  border:#cccccc solid 1px;
  margin-bottom:10px;
  background:#e6e6e6;
}

.services h3{
  font-family: tohoma;
}


.text {
  padding: 100px 30px;
}

.text p {
  max-width: 900px;
  margin: 20px auto;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 35px;
}

.background {
  height: 500px;
  width: 100%;
}

.one {
  background-image: url('wall2.jpg');
  background-size: cover;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.two {
  background-image: url('wall.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.three {
  background-image: url('wall3.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}




@media only screen and (max-width: 700px)
{

.main-col{
  float:left;
  width:100%;
}

.background{
  height: 300px;
}

.text{
  padding: 50px 30px;
}

}